#loginContainer {
    position:relative;
}
#loginContainer a span {
  display: block;
  padding: 2px 14px;
  border: 1px solid #555;
  font-weight: 300;
}

#loginButton { 
    display:inline-block;  
    position:relative;
    z-index:30;
    cursor:pointer;
}

#loginBox {
    position:absolute;
	top: 44px;
	right: 0px;
    display:none;
    z-index:29;
}
#loginForm:after {
	content: '';
	position: absolute;
	right: 25px;
	top: -10px;
	border-left:10px solid rgba(0, 0, 0, 0);
	border-right:10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid #f0f0f0;
}

#loginForm {
   width: 300px;
	background: #fff;
	border: 1px solid #d6d6d6;
}
#loginForm fieldset {
    margin:0 0 15px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body {
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    padding:15px 15px;
    margin:0;
}
#loginForm #checkbox {
    width:auto;
    margin:3px 6px 0 0;
    float:left;
    padding:0;
    border:0;
   
}
#body label {
    color:#000;
    margin:10px 0 0 0;
    display:block;
    float:left;
    font-size:0.8725em;
}
#loginForm #body fieldset label{
    display:block;
    float:none;
    margin:0 0 6px 0;
}
#body label i{
	color:#000;
	font-size:1em;
	font-style:normal;
}

#loginForm input {
    width:92%;
    border:1px solid #DADADA;
	color: #222;
	background:#FFF;
    padding:6px;
	font-size: 0.8125em;
    -webkit-apperance:none;
    font-family: 'Open Sans', sans-serif;
}

#loginForm #login {
	font-family: 'Open Sans', sans-serif;
	width: auto;
	float: left;
	background:#ff6978 ;
	color: #fff;
	font-size: 0.8725em;
	padding: 8px 20px;
	border: none;
	margin: 0 12px 0 0;
	cursor: pointer;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
}
#loginForm #login:hover {
	background: #00405d;
}

#loginForm span{
    display:block;
    padding:0px 0px 15px 17px;
}
#loginForm span a{
	color:#000;
	font-size:0.85em;
    font-weight:500;
    background: none;
	border: none;
	box-shadow: none;
}
#loginForm span a:hover{
	text-decoration:underline;
}
input:focus {
    outline:none;
}

i.ars {
  width: 35px;
  height: 20px;
  background: url(../images/arrwss.png)no-repeat 58px -1px ;
  display: inline-block;
  padding: 0px 53px;
  vertical-align: middle;
}
.arriv-info2 {
  position: absolute;
  bottom: 32px;
  left: 42px;
  text-align: center;
}
.arriv-info3 {
  position: absolute;
  bottom: 32px;
  left: 42px;
  text-align: center;
}
.special h5 {
  color: #3f3d3d;
  font-size: 1.1em;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 0;
}
.special h6 {
  color: #3f3d3d;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin:1em 0;
}
.special-info {
  padding: 1em 0;
  border: 1px solid #e9e9e9;
}
.special {
  padding: 4em 0;
    position: relative;
}
i.facebok {
  width: 35px;
  height: 35px;
  background: url(../images/img-sprite.png)no-repeat -8px -10px;
  float: left;
  vertical-align: middle;
}
i.facebok:hover{
  background: url(../images/img-sprite.png)no-repeat -8px -46px;
}
i.twiter {
  width: 35px;
  height: 35px;
  background: url(../images/img-sprite.png)no-repeat -48px -12px;
  float: left;
  vertical-align: middle;
}
i.twiter:hover{
  background: url(../images/img-sprite.png)no-repeat -48px -48px;
}
i.be {
  width: 35px;
  height: 35px;
  background: url(../images/img-sprite.png)no-repeat -133px -10px;
  float: left;
  vertical-align: middle;
}
i.be:hover{
  background: url(../images/img-sprite.png)no-repeat -133px -46px;
}
i.pp {
  width: 35px;
  height: 35px;
  background: url(../images/img-sprite.png)no-repeat -177px -9px;
  float: left;
  vertical-align: middle;
}
i.pp:hover{
  background: url(../images/img-sprite.png)no-repeat -177px -45px;
}
i.goog {
  width: 35px;
  height: 35px;
  background: url(../images/img-sprite.png)no-repeat -92px -13px;
  float: left;
  vertical-align: middle;
}
i.goog:hover{
  background: url(../images/img-sprite.png)no-repeat -92px -48px;
}
.social-ic ul {
  padding: 0;
}
.social-ic li {
  display: inline-block;
  margin: 0 0.2em;
}
.foot-top li {
  display: inline-block;
  vertical-align: middle;
}
.fooll h5 {
  font-size: 1.1em;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  padding-right: 1em;
}
.foot-top {
  padding: 2em 0;
  border-bottom: 1px solid #e5e4e2;
  border-top: 1px solid #e5e4e2;
}
.stay form input[type="text"] {
  width: 100%;
  color: #3f3d3d;
  outline: none;
  font-size: 1em;
  padding: 0.5em;
  font-weight:300;
  border: 1px solid #e5e4e2;
  -webkit-appearance: none;
}
.btn-1 form input[type="submit"] {
  background: #0f0f0f;
  padding: 0.5em;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  display: block;
  outline: none;
  border: none;
  width: 100%;
  text-transform: uppercase;
}
.btn-1 form input[type="submit"]:hover{
	background: rgba(15, 15, 15, 0.72);
}
.stay-left {
  float: left;
  width: 78%;
  margin-right: 0.5%;
}
.btn-1 {
  float: left;
  width: 21.5%;
}
.footer h4 {
  color: #3f3d3d;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin: 0 0 1em;
}
.footer {
  padding: 3em 0;
}
footer{  
  margin-top: 30px;
}

i.phone {
  width: 19px;
  height: 21px;
  display: inline-block;
  background: url(../images/img-sprite.png) no-repeat -235px -39px;
  vertical-align: middle;
  margin-right: 0.5em;
}
i.add {
  width: 17px;
  height: 24px;
  display: inline-block;
  background: url(../images/img-sprite.png) no-repeat -236px -11px;
  vertical-align: middle;
  margin-right: 0.5em;
}
i.mail {
  width: 17px;
  height: 14px;
  display: inline-block;
  background: url(../images/img-sprite.png) no-repeat -236px -76px;
  margin-right: 0.5em;
}
.our-st li {
  color: #3f3d3d;
  display: block;
  font-size: 1em;
  font-weight: 300;
  line-height: 2em;
}
.our-st li a{
  text-decoration:none;
}
.cust li {
display:block;
}
.cust li a {
  display: block;
  color: #3f3d3d;
  font-size: 1em;
  line-height: 1.8em;
  text-decoration: none;
}
.cust li a:hover{
	color:#D03333
}
.abt li {
display:block;
}
.abt li a {
  display: block;
  color: #3f3d3d;
  font-size: 1em;
  line-height: 1.8em;
  text-decoration: none;
}
.abt li a:hover{
	color:#D03333
}
.myac li {
display:block;
}
.myac li a {
  display: block;
  color: #3f3d3d;
  font-size: 1em;
  line-height: 1.8em;
  text-decoration: none;
}
.myac li a:hover{
	color:#D03333
}



.gender-form .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
}
.w_sidebar h3{
	padding:0 20px 10px;
	font-size: 1em;
	color: #555555;
	text-transform:uppercase;
}

.gender-form {
	margin-top: -10px;
}
.row1{
	outline:none;
	padding: 20px;
	overflow: auto;
	height: 200px;
}
.gender-form.col.col-4 ul {
padding: 0;
list-style: none;
}
.gender-form h4{
	margin-top: 10px;
	background: #ECECEC;
	padding: 10px 20px;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size:16px;
}
.gender-form section {
	margin-bottom: 20px;
}
.gender-form .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
}
.gender-form .label.col {
	margin: 0;
	padding-top: 10px;
}
.gender-form .radio,
.gender-form .checkbox,

.gender-form .button {
	position: relative;
	display: block;
}


.gender-form .radio,.gender-form .checkbox {
	outline:none;
	border:none;
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 13px;
	line-height: 27px;
	color: #555555;
	cursor: pointer;
	text-transform: capitalize;
	font-weight: normal;
	margin-top: 0;
}
.gender-form .radio{
	text-transform: none;
}
.gender-form .radio:last-child,
.gender-form .checkbox:last-child {
	margin-bottom: 0;
}
.gender-form .radio input,
.gender-form .checkbox input {
	position: absolute;
	left: -9999px;
}
.gender-form .radio i,
.gender-form .checkbox i {
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 17px;
	height: 17px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	background: #fff;
}
.gender-form .radio i {
	border-radius: 50%;
}
.gender-form .radio input + i:after,
.gender-form .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.gender-form .radio input + i:after {
	content: '';
	top: 4px;
	left: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}

.gender-form .radio input:checked + i:after,
.gender-form .checkbox input:checked + i:after {
	opacity: 1;
}
.gender-form .inline-group {
	margin: 0 -30px -4px 0;
}
.gender-form .inline-group:after {
	content: '';
	display: table;
	clear: both;
}
.gender-form .inline-group .radio,
.gender-form .inline-group .checkbox {
	float: left;
	margin-right: 30px;
}
.gender-form .inline-group .radio:last-child,
.gender-form .inline-group .checkbox:last-child {
	margin-bottom: 4px;
}


.gender-form [class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}


.gender-form .radio i {
	border-color: #e5e5e5;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
.gender-form .toggle i:before {
	background-color: #2da5da;	
}

.gender-form .radio:hover i {
	border-color: #8dc9e5;
}
.gender-form .button:hover {
	opacity: 1;
}


.gender-form .radio input:focus + i {
	border-color: #2da5da;
}

.gender-form .radio input + i:after {
	background-color: #ff6978;	
}

.gender-form .radio input:checked + i {
	border-color: #ff6978;	
}

.registration{
	padding: 3% 1%;
}
.registration h2{
	font-size:1.5em;
	color: #00405d;
	text-transform:capitalize;
	margin-bottom: 4%;
}

.reg{
	float: left;
	width: 45.33333%;
	margin-left: 9.333%;
}

.reg:first-child{
	margin-left: 0;
}
.log1{
	float: left;
	width: 45.33333%;
	margin-left: 28%;
	margin-top: 15%;
}
.log{
	float: left;
	width: 45.33333%;
	margin-left: 9.333%;
}

.registration span{
	color: #777777;
}
.registration_form{
	display: block;
}
.registration_form div{
	padding:10px 0;
}
.gender_form1{
	margin-bottom: -30px;
}
.gender_form1 ul{
	padding:0;
	list-style:none;
}
.gender_form1 ul li{
	float: left;
	margin-left: 20px;
}
.gender_form1 ul li:first-child{
	margin-left: 0;
}
label {
	display: block;
	margin-bottom: 0;
	font-weight: normal;
}
.registration_form input[type="text"],.registration_form input[type="email"],.registration_form input[type="tel"],.registration_form input[type="password"]{
	padding: 8px;
	display: block;
	width:100%;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8925em;
	color: #333333;
	-webkit-appearance: none;
	text-transform: none;
	background: #FFFFFF;
	border: 1px solid rgb(231, 231, 231);
	font-weight: normal;
}
.registration_form input[type="submit"]{
	-webkit-appearance: none;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-transform: none;
	display: inline-block;
	background:#ff6978;
	padding: 10px 20px;
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	cursor:pointer;
	border:none;
	outline:none;
	font-size:1em;
	margin-bottom: 5px;
}
.registration_form input[type="submit"]:hover{
	color: #ffffff;
	background:#00405d;
}
.form-group {
 margin-left: 0%;
}
.edit1 {
margin-left: 35%
 }
 .edit-card {
margin-left: 42%
 }

  .choose-category {
	 margin-left: 40%;
	 margin-top: 15%;
 }
 .add1 {
margin-right: 30%
 }


 #leftfilter{
  padding-right: 0px;
  padding-left: 0px;
 }

 #leftfilterpadding{
  padding-right: 0px;
  padding-left: 30px;
 }

 .navbar#leftfilterpadding{
   padding-top: 0px;
  margin-bottom: 20px;
 }

 .selectiontitle{
  color: #2a2a2a;
  padding: 30px 0 10px;
  font-family: 'Roboto Condensed', 'Segoe UI', Tahoma, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 1.1em;
  font-weight: 700;
 }
 p.selectiontitle{
  margin-right: 5px;
 }

 .selectionblock {
  padding: 1px 0 0;
}


 #priceformcontrol{
  width: 100px;
  padding-left: 5px;
  margin-left: 5px;
 }

 #imgactive{
  border: 3px solid #00a8e1;
 }

